# If you prefer the allow list template instead of the deny list, see community template:
HELP.md
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
target/
#
.mvn/wrapper/maven-wrapper.jar
# Binaries for programs and plugins
!**/src/main/**/target/
*.exe
!**/src/test/**/target/
*.exe~
*.dll
*.so
*.dylib
bin
meta.json
src


# Test binary, built with `go test -c`
### STS ###
*.test
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


# Code coverage profiles and other test artifacts
### IntelliJ IDEA ###
*.out
.idea
coverage.*
*.iws
*.coverprofile
*.iml
profile.cov
*.ipr


# Dependency directories (remove the comment below to include it)
### NetBeans ###
# vendor/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


# Go workspace file
### VS Code ###
go.work
.vscode/
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
